<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cek Kejiwaan{% endblock %}</title>
   <link href="{{ url_for('static', filename='tailwind/dist/output.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    <header class="bg-blue-500 text-white py-4">
        <h1 class="text-center text-2xl font-bold">Cek Kejiwaan</h1>
    </header>
    <main class="container mx-auto mt-8">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-4 bg-gray-200 mt-8">
        <p>&copy; 2024 Cek Kejiwaan</p>
    </footer>
</body>
</html>
